/* Index/Writing */

.index {
	margin: 0 auto;
	padding: $baseline*2;
}

ul {
	list-style-type: none;
}

hr {
	margin: 2rem 0 .1rem 0;
  border: 0;
  border-bottom: 1px solid $smoke;
  width: 3rem;
  display: block;
}