/* Index/Writing */

.index {
	margin: 0 auto;
	padding: $baseline*2;
}

ul {
	list-style-type: none;
	margin: $baseline*2 0;

}

li {
	margin: 0 0 $baseline 0;
}

hr {
	margin: 2rem 0 .1rem 0;
  border: 0;
  border-bottom: 1px solid $smoke;
  width: 3rem;
  display: block;
}

span {
	display: block;
	font-weight: 300;
}

.who a{
	font-size: .9rem;
	color: $skygrey;

	&:hover{
		color: $ink;
	}
}