/* Navigation */

.nav, .nav ul, .nav ol {
  list-style: none;
  padding: 0;

  li, a {
    display: inline-block;
    margin: 0 0 0 0;
  }
}

.site_nav{
	border-top: 1px solid $smoke;
	text-align: right;
	@extend %buffer-v;
}