/* Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
}

img {
  max-width: 100%;
}

ul, ol {
  overflow: hidden;
}

header, main, footer,
p, table, figure, blockquote, pre, ul, ol,
h1, h2 {
  margin-bottom: $baseline/1.5;
}

picture {
  display: block;
}

li ol, li ul {
  margin-bottom: 0;
}