/* Typography */

h1 {
	font-size: 2.5rem;
}
h2 {
	font-size: 1.5rem;
}

h3 {
	font-size: 1rem;
}

h4 {
	font-weight: 600;
}

h5 {
	font-weight: 400;
}


%link {
  cursor: pointer;
  text-decoration: none;
  color: $ink;

  &:hover {
    color: $cherry;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }
}

a, a:visited {
  @extend %link;
}