//Variables
$base-font-size: 100%;
$baseline-unitless: 28/(16*($base-font-size/100%));
$baseline: $baseline-unitless * 1rem;

$font-name: "Libre Baskerville";
$font: $font-name, Georgia, serif;


//Colors
$background-color: #fff;

$ink: #212D3C;
$slate: #3A414A;
$lightsky: #909EB9;
$skygrey: #7E8BA4;
$smoke: #E6EAF2;
$cherry: #df4c61;


