//Variables
$base-font-size: 100%;
$baseline-unitless: 28/(16*($base-font-size/100%));
$baseline: $baseline-unitless * 1rem;

$font-name: "Source Sans Pro";
$font: $font-name, Helvetica Neue, sans-serif;
$font-weight: 400;


//Colors


$ink: #212D3C;
$skygrey: #7E8BA4;
$smoke: #E6EAF2;
$cherry: #df4c61;

$background-color: #fff;
$font-color: $ink;


