---
# The Idea Vending Machine - June 2017
---

//Reset
* {
  margin: 0;
  padding: 0;
  position: relative;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

//Variables
:root {
  --baseunit: 2rem;
  --serif-font: 500 125%/1.45 'freight-text-pro', 'Georgia', 'Times New Roman', serif;
  --mono-font: 'source-code-pro', monospace;
  --base-color: #FFFFFF;
  --text-color: #3A3A3C;
  --light-color: #9B9B9B;
  --border-color: #EDECEC;
  --red-color: #F5515F;
  --aqua-color: #4CC6D7;
  --purple-color: #7C52C1;
  --gold-color: #E7AA4C;
  --dark-color: #0D2434;
  --smoke-color: #F4F4F4;
  --error-color: #EB4D51;
  --green-color: #33CE6D;
}

//Base
html {
  font: var(--serif-font);
  background: var(--base-color);
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
}

article {
  padding: 0 calc(var(--baseunit) / 2);
  max-width: 52rem;
  margin: 0 auto;
}

//Main
.layout {
  display: flex;
  justify-content: flex-end;
}

.date {
  flex: 1;
}

.story-open {
  flex: 3.5;
}

.story {
  max-width: 37.334rem;
}

header {
  margin: 0 0 calc(var(--baseunit) * 1.5) 0;
  padding: 0 0 calc(var(--baseunit) / 2) 0;
  border-bottom: 1px solid var(--border-color);
}

a {
  color: var(--light-color);
  text-decoration: none;
}

p, blockquote {
  margin-bottom: 1.4rem;
}

.dropcap {
  border: 2px solid rgba(0, 162, 155, 1);
  animation: rainbow 15s ease-in-out infinite alternate;
  float: left;
  font-size: 4rem;
  line-height: 2.4rem;
  margin: 0.3rem 0.5rem 0 0;
  padding: 0.6rem 0.78rem 0.8rem;
}

h1, h2, h3 {
  font-weight: 500;
}

h1 {
  font-size: 2.5rem;
  line-height: 1;
  letter-spacing: -1px;
}

h2 {
  margin-top: 0.5rem;
  font-size: 0.9rem;
  font-style: italic;
}

h3 {
  font-size: 1.2rem;
  margin: 2rem 0 .5rem 0;
}

ol, ul {
  list-style-position: outside;
  margin: 0 0 0 var(--baseunit);
  margin-bottom: var(--baseunit);
}

ul {
  list-style: circle;
}

ol {
  list-style: decimal;
}

figure {
  margin: var(--baseunit) 0;
}

figcaption {
  text-align: right;
  font-size: .7rem;
  margin: calc(var(--baseunit) / 10) 0 0 0;
}

time {
  color: var(--light-color);
  font-size: .9rem;
}

blockquote {
  padding: 0 0 0 var(--baseunit);
  font-style: italic;
  border-left: 1px solid var(--border-color);
}

hr {
  border: 0;
  border-top: 1px solid var(--border-color);
  margin: var(--baseunit) 0;
}

sup {
  margin: 0 .2rem;
}

code {
  font-family: var(--mono-font);
  font-size: .6rem;
}

.copyright {
  font-size: .7rem;
  text-align: right;
  color: var(--light-color);
}

.footnotes {
  font-size: .7rem;
  margin-bottom: calc(var(--baseunit) * 2);
}

.strike {
  text-decoration: line-through;
}

.vending-machine {
  margin: var(--baseunit) 0 var(--baseunit) 0;
}

.window {
  border: 1px solid var(--border-color);
  width: 100%;
  padding: 0 var(--baseunit);
  display: flex;
  justify-content: center;

  img {
    max-height: 800px;
  }
}

.quadruple-frame {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .photo {
    flex: 1 0 31%;
    margin-bottom: calc(var(--baseunit) / 10);
  }

  .photo:first-child {
    flex: 0 1 100%;
  }

  .photo:not(:first-child):not(:last-child) {
    margin-right: calc(var(--baseunit) / 4);
  }
}

@keyframes rainbow {
  0% {border-color: rgba(0, 162, 155, 1);}
  10% {border-color: rgba(0, 173, 198, 1);}
  20% {border-color: rgba(5, 149, 209, 1);}
  30% {border-color: rgba(11, 117, 188, 1);}
  40% {border-color: rgba(49, 52, 145, 1);}
  50% {border-color: rgba(83, 38, 139, 1);}
  60% {border-color: rgba (49, 52, 145, 1)}
  70% {border-color: rgba(187, 24, 142, 1);}
  80% {border-color: rgba(235, 23, 98, 1);}
  90% {border-color: rgba(245, 126, 35, 1);}
  100% {border-color: rgba(251, 195, 96, 1);}
}

//Syntax
.highlight {
  padding: var(--baseunit) 0;
  overflow: scroll;
  background-color: var(--dark-color);
  max-width: 37.334rem;
}
.highlight .c { color: var(--light-color) } /* Comment */
.highlight .err { color: var(--smoke-color) } /* Error */
.highlight .g { color: var(--smoke-color) } /* Generic */
.highlight .k { color: var(--aqua-color) } /* Keyword */
.highlight .l { color: var(--smoke-color) } /* Literal */
.highlight .n { color: var(--smoke-color) } /* Name */
.highlight .o { color: var(--aqua-color) } /* Operator */
.highlight .x { color: var(--red-color) } /* Other */
.highlight .p { color: var(--smoke-color) } /* Punctuation */
.highlight .cm { color: var(--light-color) } /* Comment.Multiline */
.highlight .cp { color: var(--aqua-color) } /* Comment.Preproc */
.highlight .c1 { color: var(--light-color) } /* Comment.Single */
.highlight .cs { color: var(--aqua-color) } /* Comment.Special */
.highlight .gd { color: var(--gold-color) } /* Generic.Deleted */
.highlight .ge { color: var(--smoke-color); font-style: italic } /* Generic.Emph */
.highlight .gr { color: var(--error-color) } /* Generic.Error */
.highlight .gh { color: var(--red-color) } /* Generic.Heading */
.highlight .gi { color: var(--aqua-color) } /* Generic.Inserted */
.highlight .go { color: var(--smoke-color) } /* Generic.Output */
.highlight .gp { color: var(--smoke-color) } /* Generic.Prompt */
.highlight .gs { color: var(--smoke-color); font-weight: bold } /* Generic.Strong */
.highlight .gu { color: var(--red-color) } /* Generic.Subheading */
.highlight .gt { color: var(--smoke-color) } /* Generic.Traceback */
.highlight .kc { color: var(--red-color) } /* Keyword.Constant */
.highlight .kd { color: var(--purple-color) } /* Keyword.Declaration */
.highlight .kn { color: var(--aqua-color) } /* Keyword.Namespace */
.highlight .kp { color: var(--aqua-color) } /* Keyword.Pseudo */
.highlight .kr { color: var(--purple-color) } /* Keyword.Reserved */
.highlight .kt { color: var(--error-color) } /* Keyword.Type */
.highlight .ld { color: var(--smoke-color) } /* Literal.Date */
.highlight .m { color: var(--gold-color) } /* Literal.Number */
.highlight .s { color: var(--gold-color) } /* Literal.String */
.highlight .na { color: var(--smoke-color) } /* Name.Attribute */
.highlight .nb { color: var(--green-color) } /* Name.Builtin */
.highlight .nc { color: var(--purple-color) } /* Name.Class */
.highlight .no { color: var(--red-color) } /* Name.Constant */
.highlight .nd { color: var(--purple-color) } /* Name.Decorator */
.highlight .ni { color: var(--red-color) } /* Name.Entity */
.highlight .ne { color: var(--red-color) } /* Name.Exception */
.highlight .nf { color: var(--purple-color) } /* Name.Function */
.highlight .nl { color: var(--smoke-color) } /* Name.Label */
.highlight .nn { color: var(--smoke-color) } /* Name.Namespace */
.highlight .nx { color: var(--smoke-color) } /* Name.Other */
.highlight .py { color: var(--smoke-color) } /* Name.Property */
.highlight .nt { color: var(--purple-color) } /* Name.Tag */
.highlight .nv { color: var(--purple-color) } /* Name.Variable */
.highlight .ow { color: var(--aqua-color) } /* Operator.Word */
.highlight .w { color: var(--smoke-color) } /* Text.Whitespace */
.highlight .mf { color: var(--gold-color) } /* Literal.Number.Float */
.highlight .mh { color: var(--gold-color) } /* Literal.Number.Hex */
.highlight .mi { color: var(--gold-color) } /* Literal.Number.Integer */
.highlight .mo { color: var(--gold-color) } /* Literal.Number.Oct */
.highlight .sb { color: var(--light-color) } /* Literal.String.Backtick */
.highlight .sc { color: var(--gold-color) } /* Literal.String.Char */
.highlight .sd { color: var(--smoke-color) } /* Literal.String.Doc */
.highlight .s2 { color: var(--gold-color) } /* Literal.String.Double */
.highlight .se { color: var(--red-color) } /* Literal.String.Escape */
.highlight .sh { color: var(--smoke-color) } /* Literal.String.Heredoc */
.highlight .si { color: var(--gold-color) } /* Literal.String.Interpol */
.highlight .sx { color: var(--gold-color) } /* Literal.String.Other */
.highlight .sr { color: var(--error-color) } /* Literal.String.Regex */
.highlight .s1 { color: var(--gold-color) } /* Literal.String.Single */
.highlight .ss { color: var(--gold-color) } /* Literal.String.Symbol */
.highlight .bp { color: var(--purple-color) } /* Name.Builtin.Pseudo */
.highlight .vc { color: var(--purple-color) } /* Name.Variable.Class */
.highlight .vg { color: var(--purple-color) } /* Name.Variable.Global */
.highlight .vi { color: var(--purple-color) } /* Name.Variable.Instance */
.highlight .il { color: var(--gold-color) } /* Literal.Number.Integer.Long */

//Responsive
@media (max-width: 50rem) {
  html {
    font-size: 112.5%;
  }

  .layout {
    flex-direction: column;
  }

  .story, .highlight {
    max-width: 50rem;
  }
}

@media (max-width: 30rem) {
  html {
    font-size: 100%;
  }
}